<body>
    <h2>República Dominicana</h2>

<ol>
<header><img src="../assets/mapa.png"  width="900" height="450" id="arriba"></header>
<button tittle="Bajar"><a href="#abajo">BAJAR</a></button>
<h1>Provincias con sus senadores, Población y escudo</h1>
<li><a href="https://en.wikipedia.org/wiki/Azua,_Dominican_Republic">Azua: Azua de Compostela</a></li>
<ul>
     <li>Senador/a: Lía Díaz Santana</li>
     <li>Población: 256,981	</li>
     <img src="../assets/azua.png" width="190" height="200">
</ul>
<li><a href="https://en.wikipedia.org/wiki/Baoruco_Province">Bahoruco: Neiba </a></li>
<ul>
    <li>Senador/a: Melania Salvador Jiménez</li>
    <li>Población: 118,987</li>
    <img src="../assets/Bahoruco.png"width="190" height="200">
</ul>
<li><a href="https://en.wikipedia.org/wiki/Barahona,_Dominican_Republic">Barahona: Santa Cruz de Barahona</a></li>
<ul>
    <li>Senador/a: José Manuel del Castillo Saviñón</li>
    <li>Población: 226,898</li>
    <img src="../assets/Barahona.png" width="190" height="200">
</ul>
<li><a href="https://en.wikipedia.org/wiki/Dajabón">Dajabón: Dajabón</a></li>
<ul>
    <li>Senador/a: David Rafael Sosa Cerda</li>
    <li>Población: 67,887</li>
    <img src="../assets/Dajabón.png" width="190" height="200">
</ul>
<li><a href="https://en.wikipedia.org/wiki/Santo_Domingo">Distrito Nacional: Santo Domingo</a></li>
<ul>
    <li>Senador/a: Antonio Taveras</li>
    <li>Población: 1,484,789</li>
    <img src="../assets/distrito nacional.png" width="190" height="200">
</ul>  
<li><a href="https://es.wikipedia.org/wiki/Provincia_de_Duarte">Duarte: San Francisco de Macorís</a></li>
<ul>
    <li> Senador/a: Franklin Romero</li>
    <li>Población: 384,789</li>
    <img src="../assets/Duarte.png" width="190" height="200">
</ul>
<li><a href="https://en.wikipedia.org/wiki/Elías_Piña_Province ">Elías Piña: Comendador</a></li>
<ul>
    <li> Senador/a: Iván Lorenzo</li>
    <li>Población: 70,589</li>
    <img src="../assets/Elías_Piña.png" width="190" height="200">
    </ul>
<li><a href="https://es.wikipedia.org/wiki/El_Seibo">El Seibo: Santa Cruz de El Seibo</a></li>
<ul>
    <li>Senador/a: Santiago José Zorrilla</li>
    <li>Población: 115,889 </li>
    <img src="../assets/El seibo.png" width="190" height="200">
</ul>
<li><a href="https://en.wikipedia.org/wiki/Espaillat_Province">Espaillat: Moca</a></li>
<ul>
    <li>Senador/a: Carlos Gómez</li>
    <li>Población:390,478</li>
    <img src="../assets/Espaillat.png" width="190" height="200">
    </ul>
<li><a href="https://es.wikipedia.org/wiki/Hato_Mayor">Hato Mayor: Hato Mayor del Rey</a></li>
<ul>
    <li>Senador/a: Cristóbal Antonio Venerado</li>
    <li>Población:89,578</li>
    <img src="../assets/HatoMayor.png" width="190" height="200">
    </ul>
<li><a href="https://en.wikipedia.org/wiki/Salcedo,_Dominican_Republic">Hermanas Mirabal: Salcedo</a></li>
<ul>
    <li>Senador/a: Juan Bautista Rojas</li>
    <li>Población: 103,974</li>
    <img src="../assets/Salcedo.png" width="190" height="200">
    </ul>
<li><a href="https://en.wikipedia.org/wiki/Jimaní">Independencia: Jimaní</a></li>
<ul>
    <li>Senador/a: Juan Orlando Mercedes Sena</li>
    <li>Población: 54,785</li>
    <img src="../assets/independencia.png" width="190" height="200">
    </ul>
<li><a href="https://en.wikipedia.org/wiki/Higüey,_Dominican_Republic">La Altagracia: Salvaleón de Higüey</a></li>
<ul>
    <li>Senador/a: Virgilio Cedano Cedano</li>
    <li>Población:</li>
    <img src="../assets/Higüey.png" width="190" height="200">
    </ul>
<li><a href="https://en.wikipedia.org/wiki/La_Romana,_Dominican_Republic">La Romana: La Romana</a></li>
<ul>
    <li>Senador/a: Dr. Iván Silva</li>
    <li>Población: 330,587</li>
    <img src="../assets/LaRomana.png" width="190" height="200">
    </ul>
<li><a href="https://en.wikipedia.org/wiki/La_Vega">La Vega: La Vega</a></li>
<ul>
    <li>Senador/a: Ramón Rogelio Genao</li>
    <li>Población: 420,478</li>
    <img src="../assets/lavega.png"width="190" height="200">
    </ul>
<li><a href="https://en.wikipedia.org/wiki/Nagua">María Trinidad Sánchez: Nagua</a></li>
<ul>
    <li>Senador/a: Alexis Victoria Yeb</li>
    <li>Población: 140,784</li>
    <img src="../assets/nagua.png" width="190" height="200">
    </ul>
<li><a href="https://en.wikipedia.org/wiki/Bonao">Monseñor Nouel: Bonao</a></li>
<ul>
    <li>Senador/a: Hector Acosta</li>
    <li>Población: 201,474</li>
    <img src="../assets/MonseñorNouel.png" width="190" height="200">
    </ul>
<li><a href="https://en.wikipedia.org/wiki/Monte_Cristi,_Dominican_Republic">Monte Cristi: San Fernando de Monte Cristi</a></li>
<ul>
    <li>Senador/a: Ramón Pimentel Gómez</li>
    <li>Población:135,710 </li>
    <img src="../assets/monte cristi.png" width="190" height="200">
    </ul>
<li><a href="https://en.wikipedia.org/wiki/Monte_Plata">Monte Plata: Monte Plata</a></li>
<ul>
    <li>Senador/a:  Lenin Valdez López</li>
    <li>Población: 200,454</li>
    <img src="../assets/monteplata.png" width="190" height="200">
    </ul>
<li><a href="en.wikipedia.org/wiki/SS_Pedernales">Pedernales: Pedernales</a></li>
<ul>
    <li>Senador/a: Dionis Sánchez Carrasco</li>
    <li>Población: 38,941</li>
    <img src="../assets/pedernales.png" width="190" height="200">
    </ul>
<li><a href="https://en.wikipedia.org/wiki/Baní">Peravia: Baní</a></li>
<ul>
    <li>Senador/a: Milcíades Marino Franjul</li>
    <li>Población: 298,747</li>
    <img src="../assets/peravia.png" width="190" height="200">
    </ul>
<li><a href="https://en.wikipedia.org/wiki/Puerto_Plata,_Dominican_Republic">Puerto Plata: San Felipe de Puerto Plata</a></li>
<ul>
    <li>Senador/a: Ginnette Altagracia Bournigal</li>
    <li>Población:490,733</li>
    <img src="../assets/puertoplata.png" width="190" height="200">
    </ul>
<li><a href="https://en.wikipedia.org/wiki/Samaná_(town)">Samaná: Santa Bárbara de Samaná</a></li>
<ul>
    <li>Senador/a: Pedro Catrain Bonilla</li>
    <li>Población: 168,265</li>
    <img src="../assets/samana.png" width="190" height="200">
    </ul>
<li><a href="en.wikipedia.org/wiki/Mount_San_Cristobal">San Cristóbal: San Cristóbal</a></li>
<ul>
    <li>Senador/a: Franklin Alberto Rodríguez</li>
    <li>Población: 248,807</li>
    <img src="../assets/sancristobal.png" width="190" height="200">
    </ul>
<li><a href="https://en.wikipedia.org/wiki/San_José_de_Ocoa">San José de Ocoa: San José de Ocoa</a></li>
<ul>
    <li>Senador/a: José Antonio Castillo</li>
    <li>Población: 82,458</li>
    <img src="../assets/sanjosedeocoa.png" width="190" height="200">
    </ul>
<li><a href="https://en.wikipedia.org/wiki/San_Juan_de_la_Maguana">San Juan: San Juan de Maguana</a></li>
<ul>
    <li>Senador/a: Félix Ramón Bautista Rosario</li>
    <li>Población: 300,476</li>
    <img src="../assets/sanjuan.png" width="190" height="200">
    </ul>
<li><a href="https://en.wikipedia.org/wiki/San_Pedro_de_Macorís">San Pedro de Macorís: San Pedro de Macorís</a></li>
<ul>
    <li>Senador/a: Franklin Peña</li>
    <li>Población: 418,850</li>
    <img src="../assets/SanPedrodeMacoris.png" width="190" height="200">
    </ul>
<li><a href="https://en.wikipedia.org/wiki/Cotuí">Sánchez Ramírez: Cotuí</a></li>
<ul>
    <li>Senador/a: Ricardo de los Santos Polanco</li>
    <li>Población: 248,807</li>
    <img src="../assets/SánchezRamírez.png" width="190" height="200">
    </ul>
<li><a href="en.wikipedia.org/wiki/Santiago_de_los_Caballeros">Santiago: Santiago de los Caballeros</a></li>
<ul>
    <li>Senador/a: Eduardo Estrella Virella</li>
    <li>Población: 1,833,451</li>
    <img src="../assets/santiago.png" width="190" height="200">
    </ul>
<li><a href="https://de.wikipedia.org/wiki/San_Ignacio_de_Sabaneta">Santiago Rodríguez: San Ignacio de Sabaneta</a></li>
<ul>
    <li>Senador/a: Antonio Marte Fernández </li>
    <li>Población: 164,941</li>
    <img src="../assets/SanIgnaciodeSabaneta.png" width="190" height="200">
    </ul>
<li><a href="https://en.wikipedia.org/wiki/Santo_Domingo_Este">Santo Domingo: Santo Domingo Este</a></li>
<ul>
    <li>Senador/a: Antonio Taveras Guzmán</li>
    <li>Población: 2,995,211</li>
    <img src="../assets/SantoDomingoEste.png" width="190" height="200">
    </ul>
<li><a href="https://en.wikipedia.org/wiki/Mao,_Dominican_Republic">Valverde: Santa Cruz de Mao</a></li>
    <ul>
  
    <li>Senador/a: Martin Nolasco Vargas</li>
    <li>Población: 207,447 </li>
    
    <img src="../assets/Mao.png" width="190" height="200" id="abajo">
    </ul>
    <button tittle="Subir"><a href="#arriba">SUBIR</a></button>
</ol>
</body>